@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="col-12">
        <div class="col-8 offset-2">
            <img src="~/images/PepperHouseLogoBig.png" />
        </div>
    </div>
    <div class="col-4 offset-4">
        <a asp-action="Menu" class="btn btn-dark form-control">Go to Menu</a>
    </div>
</div>
