@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Pepper House</h1>
    <div class="col-6 offset-3">
        <a asp-action="Menu" class="btn btn-success form-control">Go to Menu</a>
    </div>
</div>
